body {
    margin:0;
    background-color:lightyellow;
    margin-inline:auto;
}
/* The navigation menu */
header{
    overflow: hidden;
    background-color:wheat;
  }
  
  /* Navigation links */
  header a {
    float: left;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width:auto;
  }
  
  /* The subnavigation menu */
  .subnav {
    float: left;
    overflow: hidden;
  }
  
  /* Subnav button */
  .subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  /* Add a red background color to navigation links on hover */
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: navy;
  }
  
  /* Style the subnav content - positioned absolute */
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: navy;
    width: 100%;
    z-index: 1;
  }
  
  /* Style the subnav links */
  .subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
  }
  
  /* Add a grey background color on hover */
  .subnav-content a:hover {
    background-color: #eee;
    color: black;
  }
  
  /* When you move the mouse over the subnav container, open the subnav content */
  .subnav:hover .subnav-content {
    display: block;
  }


.grid_container{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  padding: 1rem;
  column-gap:3rem;
  row-gap:3rem;
  color:white;
}
.grid-item{
  display:grid;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding:1.5rem;
  text-align:center;
  justify-items: start;
  background-color:lightsalmon;
  scroll-margin-inline:0; 
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.10);

}

img{
  max-width: 100%;
  max-height: 100%;
}
a{
  color:white;
  text-decoration:none;
}

main{
  display:grid;
  margin-inline:auto;
  width:90%
}

h1{
  margin-left:1rem;
}

p{
  margin-left:1rem;
}